@import "../util/functions";

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button, input{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

body, html{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $primaryFont;
    height: 100%;
};

$fontSize: (h1: 32, h2: 25, h3: 17.5, p: 13);

@each $size, $val in $fontSize {
    #{$size}{
        font-size: toRem($val);
    }
}

h1, h2,h3{
    font-weight: bold;
}

// THIS IS FOR REUSABILITY //
.bgColorDark{
    background-color: $bgColorDark;
}

.bgColorLight{
    background-color: $bgColorLight;
}

.txtColorDark{
    color: $miscLight;
}

.txtColorLight{
    color: black;
}