@mixin centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobileMax{
    @media (min-width: 520px) and (max-width: ($tabletMin - 1) ) {
        @content;
    }
}

@mixin mobileMaxUp{
    @media (min-width: 520px) {
        @content;
    }
}


@mixin tablet{
    @media (min-width: $tabletMin) and (max-width: $tabletMax) {
        @content;
    }
}


@mixin tabletUp{
    @media (min-width: $tabletMin) {
        @content;
    }
}

@mixin laptop{
    @media (min-width: $laptopMin) and (max-width: $laptopMax) {
        @content;
    }
}


@mixin laptopUp{
    @media (min-width: $laptopMin) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktopMin) {
        @content;
    }
}